html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Bahnschrift, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

li {
  list-style: none;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
div,
span,
button,
p,
a,
text {
  font-family: Bahnschrift;
}

#root {
  height: 100%;
}

@font-face {
  font-family: Bahnschrift;
  src: url("./media/fonts/BAHNSCHRIFT.TTF");
}
